{
  "extends": "react-app",
  "globals": {
    "document": true,
    "Prism": true,
    "window": true,
    "monaco": true,
    "sessionStorage": true,
    "localStorage": true,
    "GLOBAL_EDITOR": true,
    "requestAnimationFrame": true
  },
  "plugins": [
    // ...
    "react-hooks"
  ],
  "rules": {
    // ...
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}
