@import '../../styles/mixins.less';

.home-app {
  height: 100%;
  background-color: #000;
  &.ant-layout {
    flex-wrap: nowrap;
  }
  &.loading {
    padding: 20px;
    color: #999;
  }

  .right-pane {
    display: flex;
    flex-direction: column;

    .right-split-pane {
      height: 500px;
    }
  }

  &.not-supported, &.fatal-error {
    .ant-alert {
      width: 500px;
      .abs-center();
      border: none;
      background-color: @red2;
      .ant-alert-message,
      .anticon {
        color: #fff;
      }
      color: #fff !important;
    }
  }

  .ant-layout-sider {
    background-color: #f7f7f7;
  }

  .drawer-bar {
    background-color: #fff;
    height: 44px;
  }
}
.home-app_no-plugin-alert .ant-modal-content {
  width: 600px;
  margin-left: -92px;
}
