@import '../../styles/mixins';

.home-element-page {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  overflow: visible;

  .scroll-style();

  &.loading {
    padding: 10px;
  }

  &.error {
    padding: 10px;
    color: red;
  }
}
