@import '../../styles/mixins';

.git-manager-overview-widget {
  color: #999;
  font-size: 12px;
  .widget-container {
    padding: 15px;
    section {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      p {
        color: @green2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .green2 {
        color: @green2;
      }
      .red2 {
        color: @red2;
      }
      .blue2 {
        color: @primary-color;
      }
    }
    p {
      margin: 0;
    }
    > div {
      color: #999;
    }

    h6 {
      margin-top: 10px;
      color: #bbb;
      font-weight: bold;
      padding-top: 8px;
      border-top: 1px solid #666;
    }

    ul,
    li {
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      color: @red2;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;

      &:hover {
        background-color: #333;
      }
    }
  }
}
