@import '../../styles/mixins';

.plugin-scripts-scripts-manager {
  position: relative;
  background: #080808;
  padding: 0;
  height: 100%;

  .output-container {
    width: 100%;
    height: 100%;
    position: relative;
    .pty-output {
      position: absolute;
      left: 6px;
      top: 6px;
      right: 6px;
      bottom: 6px;
    }
    
  }
}
