@import '../../styles/mixins';

.plugin-scripts-script-list {
  background-color: #111;
  border-right: 1px solid #333;
  height: 100%;
  width: 100%;
  .scroll-style;
  overflow: auto;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 5px 10px;
    border-bottom: 1px solid #222;
    font-size: 12px;
    font-weight: lighter;
    color: #aaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background-color: #090909;
    }
    &.selected {
      background-color: #000;
      border-right: 2px solid @primary-color;
    }

    .common-svg-icon {
      color: #666;
      transform: translateY(3px);
      cursor: pointer;
    }

    .common-svg-icon-start:hover {
      color: #00b340;
    }
    .common-svg-icon-stop {
      color: #00b340;
      &:hover {
        color: green;
      }
    }

    label {
      color: #ccc;
      white-space: nowrap;
      margin-left: 7px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    label.script-content {
      color: #666;
    }
  }
  .no-scripts {
    padding: 10px;
    color: #666;
  }
}
