@import '../../styles/mixins';

.plugin-test-test-result {
  font-size: 12px;
  font-family: 'Andale Mono';
  overflow: auto;
  height: 100%;
  .scroll-style();
  .no-result {
    margin: 10px;
    color: #aaa;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #bbb;
  }

  ul {
    margin: 10px;
  }

  li {
    padding: 5px;
    .anticon-check {
      color: @green2;
    }
    .anticon-close {
      color: @red2;
    }
    label {
      margin-left: 10px;
    }
    .time-spent {
      color: #777;
    }
  }

  li.failed {
    color: @red2;
  }

  ul.failed-list {
    border-top: 2px solid #555;
    li {
      h3 {
        font-size: 12px;
        color: @red2;
      }
      p {
        color: #bbb;
        padding-left: 20px;
      }
    }
  }
}
